body {
  text-align: center;
  background-color: antiquewhite;
}
.links {
  margin-top: 40px;
  padding: 30px;
}
.links a {
  padding: 30px;
  color: hotpink;
}
.links a:hover {
  color: darkmagenta;
}
.links a:visited {
  color: crimson;
}
img {
  width: 700px;
  border-radius: 20px;
}
